.container {
    /* 
    
    Flex layout on outer container div specifying to center elements inside in a 
        column. 
    Added height and width to circle to make it appear square, then curve the 
        border to make it a circle

    */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* html {
    background-color: #00539f;
} */

.userinput {
    border: 1px solid #000000;
    padding: 0 20px 20px 20px;
    border: 1px solid blue;

}

.tasktable {
    border: 1px solid black;
    border-collapse: collapse;
    width: 200px;
}

tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    text-wrap: wrap;
    width: 300px;
}

#GreenPriority {
    background-color: green;
}

#YellowPriority {
    background-color: yellow;
}

#RedPriority {
    background-color: red;
}

.action {
    margin: 10px;
}

button {
    cursor: pointer;
}