html {
    background-color: #5D9CE2;
}

.titlecontainer {
    text-align: center;
    color: white;
}

.titlecontainer h1 {
    font-size: 100px;
    margin-bottom: 15px;
}

.titlecontainer p {
    font-size: 2em;
}

p {
    text-align: center;
}

.userinput {
    background-color: #F3F3F3;
    width: 50%;
    margin: auto;
    border-radius: 6px;
    padding: 20px 50px;
}

.form-name, .form-date, .form-priority, .informationdiv {
    display: flex;
    align-items: center;
    margin-bottom: 3%; /* Adjust spacing between groups */
}

#tnameLabel, #dateLabel, #priorityLabel, #informationLabel {
    width: 300px; /* Adjust label width as needed */
}

#tname, #date, #information {
    background-color: white;
    height: 2.5em;
    border-radius: 10px;
    text-align: center;
    border: 0px;
    width: 60%;
}

#information {
    height: 5em;
    overflow-y: scroll;
}

.prioritydiv {
    display: grid;
}

.prioritydiv label {
    grid-column: 2;
    margin-left: 10px;
}

.buttondiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-btn, .delete-btn {
    background: white;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 38px;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

.submit-btn:hover, .delete-btn:hover {
    background: #C06B3E;
}

.tasktable {
    /* border: 1px solid black; */
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    text-align: center;
    background-color: #F3F3F3;
    font-size: 20px;
    border-radius: 6px;
}

th {
    padding: 10px;
}

tr, td {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

tr:hover {
    background: #C06B3E;
}